# Terraform working directories and local state
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Local variable and override files
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local CLI configuration
.terraformrc
terraform.rc
