atlas_org_id                         = "0123456789abcdef01234567"
atlas_project_name                   = "doro-erp-dev-alpha"
atlas_cluster_name                   = "doro-erp-dev-alpha-audit"
atlas_region                         = "AP_NORTHEAST_2"
